<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
	<title>Demo</title>
	<style>
		h1 {
			font-size: 2rem;
			border-bottom: solid 3px #4caf93;
		}

		h2 {
			font-size: 1.6rem;
			border-bottom: solid 1px #4caf93;
		}

		p {
			padding-left: 30px;
			color: red;
		}

		table {
			border-spacing: 0;
			border: 1px solid black;
			border-collapse: collapse;
		}

		table th {
			background-color: rgba(76, 175, 147, 0.175);
		}

		table th,
		td {
			padding: 5px;
			width: 300px;
		}
	</style>
</head>

<body>
	<h1>メニュー</h1>
	<th:block th:if="${errMsg != null}">
		<p th:text="${errMsg}">
	</th:block>
	<form>
		<input type="button" value="戻る" onClick="submit_login(this.form);" />

		<table border="1">
			<thead>
				<tr>
					<th>メニュー</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td align="center"><input type="button" value="ユーザー情報の編集" onClick="submit_search(this.form);"
							style="width: 300px" /></td>
				</tr>
				<tr>
					<td align="center"><input type="button" value="ユーザー情報の編集" onClick="submit_search(this.form);"
							style="width: 300px" /></td>
				</tr>
				<tr>
					<td align="center"><input type="button" value="ユーザー情報の編集" onClick="submit_search(this.form);"
							style="width: 300px" /></td>
				</tr>
				<tr>
					<td align="center"><input type="button" value="ユーザー情報の編集" onClick="submit_search(this.form);"
							style="width: 300px" /></td>
				</tr>
				<tr>
					<td align="center"><input type="button" value="ユーザー情報の編集" onClick="submit_search(this.form);"
							style="width: 300px" /></td>
				</tr>
			</tbody>
		</table>
	</form>
</body>
<script>
	function submit_login(frm) {
		frm.action = 'http://localhost:8080/demo/login.init';
		frm.method = 'post';
		frm.submit();
	}
	function submit_search(frm) {
		frm.action = 'http://localhost:8080/demo/search.init';
		frm.method = 'post';
		frm.submit();
	}
</script>

</html>